.git
.github
.legacy-preview
.vscode
.env
.env.*
build
node_modules
vendor/**
tools
npm-debug.log*
writable/cache/*
!writable/cache/index.html
writable/debugbar/*
!writable/debugbar/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
public/uploads/*
!public/uploads/.gitignore
