CI_ENVIRONMENT = production
app.baseURL = 'https://bbs.example.com/'
app.forceGlobalSecureRequests = true
session.cookieName = 'letsbbs_session'
cookie.secure = true

database.default.hostname = mysql
database.default.database = letsbbs
database.default.username = letsbbs
database.default.password = CHANGE_ME
database.default.DBDriver = MySQLi
database.default.port = 3306

INSTALL_TOKEN = CHANGE_TO_A_LONG_RANDOM_ONE_TIME_TOKEN
MYSQL_DATABASE = letsbbs
MYSQL_USER = letsbbs
MYSQL_PASSWORD = CHANGE_ME
MYSQL_ROOT_PASSWORD = CHANGE_ROOT_PASSWORD
