body {
    background: url(../img/grid.png);
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

.footer{
    padding: 15px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.alert-avatar{
    margin-top: 20px;
}

.topic-list-heading {
    margin: 0 0 10px;
}

.topic-list-heading a{
    font-size: 16px;
    color: #444;
}

.hot-topic a{
    color: #444;
}

.hot-topic-title{
    background: #f5f5f5;
}

.smallhr{
    margin: 5px 0;
}

.topic-comment a{
    color: #fff;
}

.panel-default .topic-detail-heading{
    background-color: #fff;
}

.topic-detail-heading h1{
    font-size: 24px;
    margin: 15px 0;
}

.topic-detail-heading img{
    width: 64px;
}

.panel-body p{
    word-break: break-all;
    word-wrap: break-word;
}

.panel-body p img{
    max-width: 100%;
    height: auto;
}

.nodes{
    margin: 3px;
}

.list-tnode{
    padding: 3px 8px;
}

.list-tnode .btn-default{
    border-color: #fff;
}

.topshow{
    background-color: #e6e6e6;
}

blockquote p {
    font-size: 14px;
    font-weight: normal;
}

.username{
    margin-left: 65px;
    margin-bottom: 25px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
}

.username a, .user-panel a{
    color: #444;
}

.user-panel a:hover{
    text-decoration: none;
}

.big-font{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.side-border{
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
}